/* ----------------------------- IRANSans ----------------------------- */
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/IRANSans/IRANSans_UltraLight.ttf")
      format("truetype");
  }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/IRANSans/IRANSans_Light.ttf")
    format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IRANSans/IRANSans.ttf") 
    format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/IRANSans/IRANSans_Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/IRANSans/IRANSans_Bold.ttf")
    format("truetype");
}

/* ----------------------------- Lalehzar ----------------------------- */

@font-face {
  font-family: "lalehzar";
  src: url("/fonts/Lalezar-Font/OTF/Lalezar-Regular.otf");
  src: url("/fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}

/* ----------------------------- Vazir ----------------------------- */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir/Vazir.eot");
  src: url("/fonts/Vazir/Vazir.ttf");
  src: url("/fonts/Vazir/Vazir.woff");
  src: url("/fonts/Vazir/Vazir.woff2");
}





