@import url("./reset.css");
@import url("./font.css");
@import url("./bootstrapProgressbar.css");
@tailwind base;
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #2d2d2d;
    --muted: #fafafa;
    --muted-foreground: #b2b2b2;
    --popover: #ffffff;
    --popover-foreground: #2d2d2d;
    --border: #ececec;
    --input: #ececec;
    --card: #ffffff;
    --card-foreground: #2d2d2d;
    --primary: #2d2d2d;
    --primary-foreground: #fafafa;
    --secondary: #fafafa;
    --secondary-foreground: #2d2d2d;
    --accent: #fafafa;
    --accent-foreground: #2d2d2d;
    --destructive: #ff0000;
    --destructive-foreground: #fafafa;
    --ring: #d8d8d8;
    --radius: 0.5rem;
  }

  .dark {
    --background: #e0e0e0;
    --foreground: #d6d6d6;
    --muted: #e0e0e0;
    --muted-foreground: #929292;
    --accent: #aaaaaa;
    --accent-foreground: #fafafa;
    --popover: #e0e0e0;
    --popover-foreground: #d8d8d8;
    --border: #aaaaaa;
    --input: #aaaaaa;
    --card: #e0e0e0;
    --card-foreground: #d6d6d6;
    --primary: #fafafa;
    --primary-foreground: #363636;
    --secondary: #2d2d2d;
    --secondary-foreground: #fafafa;
    --destructive: #ff4040;
    --destructive-foreground: #fafafa;
    --ring: #aaaaaa;
    --radius: 0.5rem;
  }
}

@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: #464749;
  transition: all 400ms ease;
}
.dark a {
  color: #fff;
}

a:hover {
  color: #1e83f0;
}

.custom-container {
  @apply container mx-auto max-w-[90%] md:max-w-[85%] px-0 sm:px-8;
}

/* COURSE PAGE STYLES */
.course-details img {
  @apply mt-8 rounded-lg;
}

.course-details p {
  @apply mt-5 text-[#7a7a7a];
}
.dark .course-details p {
  @apply text-white;
}

/* BLOG PAGE STYLES */
.blog-content p {
  @apply mt-5 text-[#7a7a7a];
}
.blog-content span {
  @apply text-[#7a7a7a];
}
.blog-content h1 {
  @apply mb-4 border-b-2 border-solid border-gray-400 pb-4 text-[1.75rem]  font-bold text-dark-color  dark:text-white;
}
.blog-content h2 {
  @apply mt-8 text-[1.5rem] text-[#008c25];
}

.blog-content h3 {
  @apply mt-8 text-[1.25rem] text-[#008c25];
}
.blog-content h4 {
  @apply mt-8 text-[1rem] text-[#008c25];
}

.blog-content img {
  @apply mx-auto mt-5 rounded-lg;
}
.dark .blog-content p {
  @apply text-white;
}
.dark .blog-content.editor p {
  @apply text-black;
}

/* SCROLLBAR STYLES */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* END OF SCROLLBAR STYLES */
